.vscode/settings.json
Pipelined/Test/*.vcd
Pipelined/Test/*.vhdl
Pipelined/Test/*.cf
Pipelined-Only-Stalls/Test/*.vcd
Pipelined-Only-Stalls/Test/*.vhdl
Pipelined-Only-Stalls/Test/*.cf
SCP/Test/*.vcd
SCP/Test/*.vhdl
SCP/Test/*.cf
Assembler/Assembler.out
